################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/LmsReceiver/LmsReceiver/.vs/LmsReceiver
/LmsReceiver/LmsReceiver/LmsReceiver.AndroidApp/bin/Debug
/LmsReceiver/LmsReceiver/LmsReceiver.AndroidApp/obj
/LmsReceiver/LmsReceiver/MmsDataLoad/bin/Debug
/LmsReceiver/LmsReceiver/MmsDataLoad/obj
/LmsReceiver/LmsReceiver/MmsReceiver/MmsReceiver/bin/Debug/netstandard2.0
/LmsReceiver/LmsReceiver/MmsReceiver/MmsReceiver/obj
/LmsReceiver/LmsReceiver/MmsReceiver/MmsReceiver.Android/bin/Debug
/LmsReceiver/LmsReceiver/MmsReceiver/MmsReceiver.Android/obj
